<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= t('test1') %>
<%= t('test2') %>
<%= t('test3') %>
<%= t('test4') %>
<%= t('test5') %>
<%= t('test6') %>
<%= t('test7') %>
<div>
  Editor:
</div>

<%= rails_embed_editor("#{Rails.root}/app/views/welcome/show.html.erb",
                       :line => 5, :radius => 2,
                       :highlight => '5',
                       :editormode => RailsEmbedEditor::EditorMode::READ_WRITE) %>